<section>
        <h1>About me</h1>
        <img id="portrait" src="/images/portrait.png" height="132" width="105" alt="Michał Karzyński">
        <p>Hi, my name is Michał and I'm a code geek.<br>
            I&nbsp;work as a developer, project manager and systems architect.
            I&nbsp;also write.</p>

        <p>My favorite languages are currently JavaScript and Python and I'm good with Django, Angular, ExtJS and other MVC frameworks. </p>

        <p>If you'd like to chat or hire me for your next project, feel free to <a class="contact_link" href='&#x6D;a&#x69;&#108;&#x74;o:c&#x6F;&#110;&#116;&#97;&#99;&#116;&#64;&#x6B;&#x61;&#x72;&#x7A;&#121;&#110;&#x73;&#x6B;i&#x2E;&#112;&#x6C;'>contact me</a>.</p>
</section>



