<div id="thankyou">
<p class="meta">
    <span style="float: right; width: 200px; padding-left:20px; display: inline-block;">
        <a href="https://www.patreon.com/bePatron?u=20588372" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </span>
    Thank you very much for reading this article. If you found it useful and would like to see more articles like it, please consider <a href="https://www.patreon.com/user?u=20588372">becoming a patron on Patreon</a>.
</p>

</div>
