<section>
        <h1>About me</h1>
        <img id="portrait" src="/images/portrait.png" height="132" width="105" alt="Michał Karzyński">
        <p>I'm a web developer, user experience designer and bioinformatician.</p>

        <p>I currently code mainly in JavaScript, Python and PHP, using jQuery, Ext, Django and Drupal.</p>

        <p>I run a <a href="http://genomikastudio.com">web application development company</a> called <a href="http://genomikastudio.com">Genomika</a>, based in Gdynia, Poland.</p>

        <p>If you would like to hire us for your next project, feel free to <a class="contact_link" href='&#x6D;a&#x69;&#108;&#x74;o:c&#x6F;&#110;&#116;&#97;&#99;&#116;&#64;&#x6B;&#x61;&#x72;&#x7A;&#121;&#110;&#x73;&#x6B;i&#x2E;&#112;&#x6C;'>contact me</a>.</p>
</section>