.sharing {
  p.meta + &, #thankyou + & {
    padding: { top: 1em; left: 0; }
    background: $img-border top left repeat-x;
    line-height: 12px;
  }
}

#fb-root { display: none; }
.fb-like.fb_iframe_widget > span {
    height: 28px!important;
}
