// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article {
    
    .center {
        text-align: center;
    }

    .figure {
        margin: 1em 0px;
        text-align: center;
    }

    .figure .legend {
        margin-top:0.5em;
        color:#666;
        font-style:italic;
        text-align: center;
    }
    
    ul, ol {
        margin-left: 2em;
    }
}


#portrait {
    border: none;
    padding: 5px;
    float:right;
    @include box-sizing(content-box);
    box-shadow: none;
}